<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
</head>
<header>
	<div>
		<div><a href='/' class="menu">Вернуться на главную</a></div>
	</div>
</header>
<body>
{% block content -%}
{% endblock %}
<footer class="footer">
	<p class="footer-text-left">
		<div><a href='/contacts' class="menu">Связаться с нами</div>
  		<div><a href='/login' class="menu">Для сотрудников</div>
  		<div><a href='/news' class="menu">Новости</div>
		<div><a href='/authorisation' class="menu">Авторизация</div>
	</p>
</footer>
</html>