{% extends 'base.html' %}

{% block content %}
{{ super() }}
<body>
<div class="tabs">
  <ul class="tab-list">
    <li class="tab-item active" data-tab="tab1">Каталог по производителям</li>
    <li class="tab-item" data-tab="tab2">Каталог по направлениям</li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
        <div class="box">
      {% for brand in brands %}
	<div class="selection"><a href='{{brand.url}}'>{{ brand.name }}
		<div class="back_fon">
		<img src="{{url_for('brand_image')}}"></div>
	</a></div>
	{% endfor %}
</div>
    </div>
    <div class="tab-pane" id="tab2">
      <div class="box">
          {% for unit in units %}
		<div class="selection">
	    <a href='{{unit.url}}'> {{ unit.name }}
        <div class="back_fon">
		<img src="{{url_for('brand_image')}}"></div>
        </a>
        </div>
	{% endfor %}
    </div>
        </div>
  </div>
</div>
<script>document.addEventListener('DOMContentLoaded', function() {
  var tabItems = document.querySelectorAll('.tab-item');

  tabItems.forEach(function(tab) {
    tab.addEventListener('click', function() {
      var tabId = this.getAttribute('data-tab');
      var content = document.getElementById(tabId);

      // Удаляем активный класс у текущих вкладок и контента
      document.querySelector('.tab-item.active').classList.remove('active');
      document.querySelector('.tab-pane.active').classList.remove('active');

      // Добавляем активный класс для выбранной вкладки и контента
      this.classList.add('active');
      content.classList.add('active');
    });
  });
});
      </script>
</body>

{% endblock %}
